@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Home {
  text-align: center;
}

/* Cool SportSphere Title */
h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: linear-gradient(to right, #ffcc00, #ff5733);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

/* Sport Selection Section */
.sport-selection {
  margin-top: 20px;
}

.sport-selection select {
  font-size: 16px;
  padding: 5px;
}

.sport-selection button {
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background: #ff5733;
  color: white;
  border: none;
  transition: background 0.3s ease-in-out;
}

.sport-selection button:hover {
  background-color: #ffcc00;
}

/* Scores Page */
.Scores {
  text-align: center;
}

/* Scoreboard */
.scoreboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game {
  background-color: #f4f4f4;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.game h3 {
  font-size: 18px;
  margin-bottom: 10px;
}


