.Home {
  text-align: center;
}

/* Cool SportSphere Title */
h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
 
  color: #E63946;  /* Set a red color for the title */
}

/* Sport Selection Section */
.sport-selection {
  margin-top: 20px;
}

.sport-selection select {
  font-size: 16px;
  padding: 5px;
  background-color: #1D3557;  /* Dark blue background for select elements */
  color: #F1FAEE;  /* Off-white color for text */
  border: none;
  border-radius: 4px;
}

.sport-selection button {
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #E63946;  /* Primary red color for buttons */
  color: white;
  border: none;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
}

.sport-selection button:hover {
  background-color: #F1FAEE;  /* Light background color on hover for contrast */
  color: #1D3557;  /* Dark blue text color on hover */
}

/* Scores Page */
.Scores {
  text-align: center;
}

/* Scoreboard */
.scoreboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game {
  background-color: #F1FAEE;  /* Light off-white background for game cards */
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.game h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #1D3557;  /* Dark blue text color */
}



